@model OnlinePizzeria.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DishName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DishName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

@foreach (var item in Model.DishIngredients.Select(x => x.Ingredient))
{
    <p>@item.IngredientName</p>
}

<div>

    @if (User.IsInRole("Admin"))
    {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a > <a>|</a>
    }

    <a asp-action="Index">Back to List</a>
</div>
