@model IEnumerable<OnlinePizzeria.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Dish Menu</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New Dish</a>
    }

</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DishName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <a>|</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <a>|</a>

                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
