@model IEnumerable<OnlinePizzeria.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId"><i class="fa fa-info" aria-hidden="true"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
